.section {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    align-self: center;
  }

  img {
    width: 95%;
    margin: 1rem auto;
  }

  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
}
.banner__buttonContainer {
  display: flex;
  flex-direction: column;
}
