.navigationDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;

  margin-top: 2rem;
}

.productSection {
  width: 80%;
  height: 50%;

  margin: 2rem auto;

  display: flex;
  align-items: center;
  gap: 3rem;

  img {
    width: 40%;
    height: 41.8125rem;
    border-radius: var(--radius-1);
  }

  .infosDiv {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.productsSection {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0.5rem auto;

  ul {
    display: flex;
    gap: 1.5rem;

    margin: 1.5rem 0;
  }
}
