.nav__container {
  margin-left: 5rem;
  margin-top: 2rem;

  ul {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }
}

.admin__panel {
  min-height: 72vh;
  margin: 0 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.producsSection__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title__container {
  h1 {
    margin-bottom: 1rem;
  }
}

.productList__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
