.header {
  height: 3rem;
  width: 80%;

  display: flex;
  align-items: center;

  margin: 1rem auto 0 auto;

  .div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.spaceBtw {
      justify-content: space-between;
    }
  }
}
