.footer {
  height: 6.25rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--black);

  .text {
    font-family: var(--font-secondary);

    font-weight: var(--weight-1);
    color: var(--white);

    font-size: var(--paragraph);
    line-height: 1.3919rem;
  }
}
